:root {
  --x-color: #FFC329;
  --o-color: #2BD67C;
  --button-gradient: linear-gradient(90deg, #F96C2D, #FFC329);
  --button-gradient-hover: linear-gradient(240deg, #F96C2D, #FFC329);
  --background: #222222;
  --cell-background: #313131;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background);
  color: white;
  font-family: 'Archivo', sans-serif;
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* header */
header {
  font-size: 3rem;
  line-height: 2.5rem;
  z-index: 4;
  margin-top: 3rem;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header span {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.logo-tic span {
  color: var(--x-color);
}

.logo-tac span {
  width: 2rem;
  height: 1.3rem;
  margin-right: 0.5rem;
  background: var(--button-gradient);
  border-radius: 5px;
  box-shadow: 0 0 1em .1em #F96C2D;
}

.logo-toe span {
  color: var(--o-color);
}


/* players */
.players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cell-background);
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 20px;
  position: relative;
  min-width: 300px;
}

.players p {
  font-size: 1.4rem;
  font-weight: 800;
  z-index: 2;
  color: white;
}

.slider {
  width: 145px;
  height: 70%;
  position: absolute;
  left: 3%;
  z-index: 1;
  border-radius: 20px;
  transition: left 0.3s ease;
  background-color: var(--x-color);
}

.slider.O {
  left: 49%;
  background-color: var(--o-color);
}

.player-X.active,
.player-O.active {
  color: var(--background);
}

.return {
  font-size: 2rem;
  cursor: pointer;
}

/* gameboard */
main {
  width: 100%;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  margin: 5px;
  background-color: var(--cell-background);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 4rem;
  width: 100px;
  height: 100px;
}

.cell.X {
  color: var(--x-color);
}

.cell.O {
  color: var(--o-color);
}


/* end game */
.end-game {
  position: absolute;
  background-color: var(--background);
  width: min(500px, 90%);
  height: 15rem;
  z-index: 5;
  padding: 2rem;
  border-radius: 25px;
  text-align: center;
}

.end-game p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

button {
  font-family: inherit;
  font-size: 1.8rem;
  width: 90%;
  padding: 1rem;
  border-radius: 50px;
  outline: none;
  border: none;
  background: var(--button-gradient);
  cursor: pointer;
  font-weight: 800;
}

button:hover {
  box-shadow: 0 0 1em .1em #F96C2D;
  background: var(--button-gradient-hover)
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  z-index: 4;
}



/* start game */
.start-game {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.start-game button {
  margin: 1rem;
  width: min(90%, 25rem)
}

.hidden {
  display: none;
}